{% extends "base.html" %}

{% block content %}
<h1 style=" text-align:center "> Antoni Devlin's Blog</h1>
<hr>

{% for post in posts %}
    <h3>  <a href="{{ url_for('byslug', slug=post.slug)}}">{{post.title}}</a>  </h3>
    <sub>Category: {{post.category}} | Posted on {{post.date_posted.strftime('%d %B, %Y')}}</sub>
    <sub> <a href="{{url_for('edit_post', slug=post.slug)}}"> Edit </a> | <a href="{{url_for('delete_post', slug=post.slug)}}"> Delete</a> </sub>
    {% if post.draft %}
        <p>Draft</p>
    {% else %}
        <p> Not Draft </p>
    {% endif %}
    <p> {{post.body}} </p>
<p> Slug: {{post.slug}} </p>
    <hr>
{% endfor %}


{% endblock content %}
